.desktop-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* mobile View css */

#root {
  --main:rgb(3, 2, 17);
  --title:#022944;
}

.title {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 80%;
  height: 40px;
  background-color: var(--title);
  border-end-start-radius: 130px;
  border-bottom-right-radius: 130px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media (width < 650px) {
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}

main {
  position: relative;
  background-color: var(--main);
  height: 80vh;
  z-index: 0;
  color: rgb(218, 203, 203);
  padding-top: 4em;
  overflow: hidden;
}