*{
  padding: 0;
  margin: 0;
}

@media (width < 650px) {
  
  body {
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 0;
    background: var(--light-grey);
    color: var(--white);
  }
}