.area{
  height: 100%;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background: #fff;
  width: 300px;
  margin: 50px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 1;
}

#drop-area:hover {
  border-color: #007bff;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom:20em;
  border-radius: 30px;
  right: 50%;
  z-index: 1;
  border-radius: 10%;
  height: 3em;
  width: 10em;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.button:hover {
  background: #0056b3;
}

#file-list {
  position:relative;
  bottom: -100px;
  list-style: none;
  padding: 10px;
  text-align: left;
  padding: 1em;
  height: 190px;
  overflow: auto;

}

#file-list li {
  margin-bottom: 10px;
  list-style: outside;
}

/* li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
} */